<table class="styled-table">
    <thead>
        <tr>
            <th>Agent Name</th>
            <th>Client Name</th>
            <th>Sentiment</th>
            <th>Channel</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let con of conversation">
            <td>{{ con.agentName }}</td>
            <td>{{ con.clientName }}</td>
            <td>{{ con.sentiment }}</td>
            <td>{{ con.channel }}</td>
            <td  style="width: 200px;"><div *ngIf="con.sentiment" [style.background]="getGradient(con)" class="gradient-bar"></div></td>
            <td>
                <button class="action-button" (click)="openModal(con)">
                    <i class="fas fa-eye"></i>
                </button>
                <input type="button" class="action-button" value="Get Sentiment" (click)="GetAnalysis(con.conversationId)" *ngIf="!con.sentiment">
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal Popup -->
<div class="modal" *ngIf="selectedConversation">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Conversation Summary</h2>
        <p>Agent Name: {{ selectedConversation.agentName }}</p>
        <p>Client Name: {{ selectedConversation.clientName }}</p>
        <p>Channel: {{ selectedConversation.channel }}</p>
        <div [innerHTML]="formatConversation(selectedConversation.conversationText)"></div>
        <!-- Add more properties as needed -->
    </div>
</div>